/*https://coolors.co/palette/7400b8-6930c3-5e60ce-5390d9-4ea8de-48bfe3-56cfe1-64dfdf-72efdd-80ffdb*/
/*https://coolors.co/palette/d9ed92-b5e48c-99d98c-76c893-52b69a-34a0a4-168aad-1a759f-1e6091-184e77*/
/*color combination*/

@font-face {
    font-family: NorseBold;
    src: url(font/Norse-Bold.otf);
}

@font-face {
    font-family: MyStyle;
    src: url(font/Pangolin/Pangolin-Regular.ttf);
}

:root
{
    --customHeight : 100%;
    --customWidth : 100%;
}

body , html
{
    height: 100%;
}

body
{
    display: grid;
    grid-template-columns: repeat(1,1fr) repeat(1,4fr);
    grid-template-rows: repeat(1,1fr) repeat(1,4fr);
    gap: 2rem;
    background-color: #76C893;
    font-family: MyStyle;
    position: relative;
}


.Added
{
    margin: 0;
    border: 2px solid #184E77;
    border-radius: 2rem;
    background-color: #76C893;
    position: absolute;
    width:var(--customWidth);
    height: var(--customHeight);

}

body>div
{
    border: 1px solid #184E77;
}

.Sidebar
{
    grid-column: 1/2;
    grid-row: 1/3;
    display: grid;
    grid-template-rows: repeat(1,2fr) repeat(1,1fr);
    background-color: #52B69A;
    border-radius: 2rem;
    font-weight: 600;
    font-size: large;
    border: 2px solid #184E77;
    height: 100%;
}

.Sidebar >div
{
    display: grid;
    place-content: center;
}

.Sidebar>div>div:hover
{
    border: 1px solid black;
    border-radius: 2rem;
    background-color: #99D98C;
    cursor: pointer;
}

.Sidebar>div>.dashboard:hover , .Sidebar>div>.empty:hover
{
    border: 1px solid #52B69A;
    border-bottom: 1px solid black;
    border-radius: 0%;
    background-color: #52B69A;
    cursor: default;
}

.Sidebar > div:nth-child(1)
{
    display: grid;
    grid-template-rows: repeat(10, 1fr);
}

.Sidebar > div:nth-child(1)>div
{
    border-bottom: 1px solid black;
}


.Sidebar > div>div
{
    display: flex;
    justify-content: start;
    align-items: center;

}

.Sidebar>div>div:nth-child(1)
{
    justify-self: center;
}

.Name
{
    grid-column: 2/3;
    display: grid;
    grid-template-rows: repeat(1,2fr) repeat(1, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    border: 1px solid #76C893;
}

input
{
    background-color: #34A0A4;
    border-radius: 12px;
}
.Name >div
{
    background-color: #52B69A;
    border: 2px solid #184E77;
    border-radius: 2rem;
}

.Name > div:nth-child(1)
{
    display: flex;
    justify-content:space-around;
    align-items: center;
    gap: 1rem;
}

.Name>div:nth-child(1)>div:nth-child(2)> div:nth-child(2)>img
{
    height: 3rem;
    width:  3rem;
    border: 2px solid #184E77;
    border-radius: 2rem;
    background-color: #99D98C;   
}

.Name>div:nth-child(1)>div
{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.Name> div:nth-child(1)>div:nth-child(2)>div:nth-child(2)>img
{
    border: 2px solid #184E77;
    border-radius: 2rem;
}
.Name > div:nth-child(2)
{
    grid-row:1/3;
    grid-column: 2/3;
    display:  grid;
    background-color: #76C893;
    border: 1px solid #76C893;
}

.Name > div:nth-child(2)>div
{
    place-self: center;
}


.Name > div:nth-child(3)
{
    grid-column:1/2;
    text-align: center;
    font-size: x-large;
    font-weight: 600;
    font-family: NorseBold;
}

button
{
    background-color: #52B69A;
    border-radius: 2rem;
    height:4rem;
    width:6rem;
    border: 2px solid #184E77;
    border-top: 2px solid #0d314c;
    border-right: 2px solid #0d314c;
    box-shadow: inset 1px 1px white;
    font-family: MyStyle;
}
button:hover
{
    box-shadow: inset 1px 1px #52B69A ;
    cursor: pointer;
}

.Projects
{
    display: grid;
    grid-template-columns: repeat(1,2fr) repeat(1,1fr);
    grid-template-rows: repeat(2,1.5fr);
    gap: 2rem;
    border: 1px solid #76C893;
    height: 100%;
}


.Projects>div:nth-child(1)
{
    padding: 2rem;
    grid-row: 1/3;
    border: 2px solid #184E77;
    border-radius: 2rem;
    background-color: #52B69A;
    gap: 1rem;
    display: grid;
    grid-template-rows: repeat(1, 0.25fr) repeat(1,6fr);

}

.Projects>div:nth-child(1)>div:nth-child(1)
{
    grid-column: 1/3;
    background-color: #52B69A;
    border: 1px solid #52B69A;
    font-weight: 600;
    font-size: x-large;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    
}

.Added
{
    display: flex;
    gap: 2px;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.Added>.only
{
    height: 2rem;
    width: 2rem;
    background-color: #184E77;
    border-radius: 2rem;

}

.Added>.only
{
    animation-name: try;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.Added>.only:nth-child(1){
    animation-delay: 1s;
}

.Added>.only:nth-child(2){
    animation-delay: 1.5s;
}

.Added>.only:nth-child(3){
    animation-delay: 2s;
}
.Added>.only:nth-child(4){
    animation-delay: 2.5s;
}


@keyframes try
{
    0%{
        margin-bottom: 0rem;
    }
    50%
    {
        margin-bottom: 1rem;
        height: calc(2rem - 6px);
        width: calc(2rem - 6px);
        background-color: #52B69A;
    }
    100%
    {
        margin-bottom: 0rem;
    }

}


.Projects>div:nth-child(1)>div:nth-child(2)
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    grid-template-rows: repeat(1, 0.5fr) repeat(auto-fit, minmax(150px,1fr));
    gap: 2rem;
}

.Projects>div:nth-child(1)>div:nth-child(2)>div>div:nth-child(1)
{
    font-size: large;
    font-weight: 600;
    text-align:  center;
}

.Projects>div:nth-child(1)>div:nth-child(2)>div>div>img
{
    height: 12rem;
    width: 15rem;
    margin-left: 2rem;
    margin-top: 2rem;
    border: 2px solid #184E77;
    box-shadow: 2px 2px 2px #184E77; 
}

.Projects>div:nth-child(1)>div:nth-child(2)>div>div>div
{
    margin-bottom: 2rem;
    margin-left: 2rem;
}

.Projects>div:nth-child(1)>div:nth-child(2)>div>div:nth-child(2)
{
    background-color: #99D98C;
    border: 2px solid #184E77;
    border-radius: 15px 50px;
}


.Projects>div:nth-child(2)
{
    padding: 1rem;
    border: 2px solid #184E77;
    border-radius: 2rem;
    background-color: #52B69A;
}

.Projects>div:nth-child(2)>div
{
    font-size: large;
    font-weight: 600;
}

.Projects>div:nth-child(2)>p:nth-child(even)
{
    
    font-size: large;
    font-weight: 600;
}

.Projects>div:nth-child(2)>p
{
    border-bottom: 1px solid black;
}

.Projects>div:nth-child(3)
{
    border: 2px solid #184E77;
    border-radius: 2rem;
    background-color: #52B69A;
    display: grid;
    grid-template-columns: repeat(1,1fr) repeat(1,2fr);
    grid-template-rows: repeat(5,1fr);
    padding:2rem;
}
.Projects>div:nth-child(3)>p
{
    grid-column: 1/3;
    font-weight: 600;
    font-size: large;
    border-bottom: 2px solid black;
}

.Projects>div:nth-child(3)>div
{
    border-bottom: 1px solid black;
    justify-self: start;
    align-self: center;
}

.Projects>div:nth-child(3)>img
{
    height: 3rem;
    width:  3rem;
    border: 2px solid #184E77;
    border-radius: 2rem;
    background-color: #99D98C;
}


img
{
    height: 3rem;
    width: 3rem;
    color: #80ffdb;
}